.animated.fadeInRight
  .row
    .col-md-6.col-md-offset-3
      .ibox.float-e-margins
        .ibox-title
          %h5= I18n.t('message.views.search_text')
        .ibox-content
          = simple_form_for '', url: find_messages_path, html: { class: 'js-find-form' } do |f|
            = f.input :id, placeholder: I18n.t('message.fields.token'), label: false, input_html: { class: 'js-token' }
            .text-right
              = f.submit I18n.t('actions.find'), class: 'btn btn-primary js-submit-button'
